In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
df=pd.read_csv('labeledTrainData.tsv',sep='\t',names=['id','rating','comments'])

In [54]:
df.head()

       id  rating                                           comments
0  5814_8       1  With all this stuff going down at the moment w...
1  2381_9       1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3       0  The film starts with a manager (Nicholas Bell)...
3  3630_4       0  It must be assumed that those who praised this...
4  9495_8       1  Superbly trashy and wondrously unpretentious 8...

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25001 entries, 0 to 25000
Data columns (total 3 columns):
id          25001 non-null object
rating      25001 non-null object
comments    25001 non-null object
dtypes: object(3)
memory usage: 586.0+ KB

In [59]:
df.describe()

            id rating                                           comments
count    25001  25001                                              25001
unique   25001      3                                              24905
top     1544_2      0  This show comes up with interesting locations ...
freq         1  12500                                                  3

In [60]:
df.isnull().values.any()

False

In [ ]:
df.groupby('comments').describe()

In [48]:
import nltk

In [33]:
df['review']= [ i.strip() for i in df['review']]

In [35]:
df['review'][50]

'Stephane Rideau was already a star for his tour de force in \\Wild Reeds,\\" and he is one of France\'s biggest indie stars. In this film, he plays Cedric, a local boy who meets vacationing Mathieu (newcomer Jamie Elkaim, in a stunning, nuanced, ethereal performance) at the beach. Mathieu has a complex relationship with his ill mother, demanding aunt and sister (with whom he has a competitive relationship). Soon, the two are falling in love.<br /><br />The film\'s fractured narrative -- which is comprised of lengthy flash-backs, bits and pieces of the present, and real-time forward-movement into the future -- is a little daunting. Director Sebastien Lifshitz doesn\'t signal which time-period we are in, and the story line can be difficult to follow. But stick it out: The film\'s final 45 minutes are so engrossing that you won\'t be able to take your eyes off the screen. By turns heart-breaking and uplifting, this film ranks with \\"Beautiful Thing\\" as must-see cinema."'

In [47]:
df['review'].groupby().values()

KeyError: 'review'