In [1]:
print("hello world")

hello world

In [2]:
var="hello World"

In [3]:
print(var)

hello World

In [4]:
var

'hello World'

In [5]:
"hello world"

'hello world'

In [6]:
1+2

3

In [7]:
1

1

In [8]:
var

'hello World'

In [9]:
var=2

In [10]:
var="hello "
var2="my "
print(var+var2)

hello my

In [11]:
j=2
i="var"
print(str(j)+i)

2var

In [12]:
i=1
j=2
print(i+j)

3

In [13]:
2*3

6

In [14]:
2**5

32

In [15]:
3**2

9

In [1]:
#deep copy
a=1
b=a
b=2
print(a)
print(b)
print(id(a))
print(id(b))
print(a is b)

1
2
140719425565520
140719425565552
False

In [17]:
#shallow copy
a=[1,2,3]
b=a
b[0]=5
print(a)
print(b)
print(id(a))
print(id(b))

[5, 2, 3]
[5, 2, 3]
1937561762824
1937561762824

In [19]:
a="hi"
a**3

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
x=1.0
y=2.0
x=y
print(id(x))
print(id(y))
print(x is y)
if x==y:
    print('match')

In [2]:
#deep copy
import copy
a=5
b=8
c=copy.deepcopy(a)
d=copy.deepcopy(b)
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))
print(c is a)
print(d is b)
c=5
d=8
e=5
print(a,b,c,d)
print(id(a),id(b),id(c),id(d),id(e))
print(c is a)
print(d is b)

5 8 5 8
140719425565648 140719425565744 140719425565648 140719425565744
True
True
5 8 5 8
140719425565648 140719425565744 140719425565648 140719425565744 140719425565648
True
True

In [ ]:
#deep copy
import copy
a=5
b=8
c=copy.copy(a)
d=copy.copy(b)
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))
c=9
d=10
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))
print(c is a)
print(d is b)

In [ ]:
#shallow copy
import copy
a=[5,10]
b=[8,11]
c=copy.copy(a)
d=copy.copy(b)
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))
print(c is a)
print(d is b)
c[0]=9
d[0]=10
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))
print(c is a)
print(d is b)

In [ ]:
#deep copy
import copy
a=[5,10]
b=[8,11]
c=copy.deepcopy(a)
d=copy.deepcopy(b)
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))
print(c is a)
print(d is b)
c[0]=9
d[0]=10
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))
print(c is a)
print(d is b)

# for single variable all is deep copy (=,copy.copy,copy,deepcopy):- It means that when they are copied the memory address will be same. And the memory address will be same until some new value is assigned to that variable and original variable value is not updated on updating the copy variable.

# for list and dictionaries '=' is shallow copy:- it means that memory address of new copied element will be same as the original list and any change in copied list will reflect in original list. And copy.copy, copy.deepcopy and list1=list2[:] are deepcopy:- it means that when they are copied to new memory address and any change in any element will not be reflected in original variable.

# For composite list like list of list '=',copy.copy is shallow copy and copy.deepcopy is deepcopy

In [20]:
#shallow copy in list of list
import copy
a=[5,10,[1,2]]
b=[8,11,[2,3]]
c=copy.copy(a)
d=copy.copy(b)
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))
print(c is a)
print(d is b)
c[2][0]=9
d[2][1]=10
print(a,b,c,d)
print(id(a),id(b),id(c),id(d))
print(c is a)
print(d is b)

[5, 10, [1, 2]] [8, 11, [2, 3]] [5, 10, [1, 2]] [8, 11, [2, 3]]
1937561761736 1937561049800 1937551981320 1937561762824
False
False
[5, 10, [9, 2]] [8, 11, [2, 10]] [5, 10, [9, 2]] [8, 11, [2, 10]]
1937561761736 1937561049800 1937551981320 1937561762824
False
False

In [21]:
dict1={'1':'abc','2':'cde'}
dict2=copy.copy(dict1)
print(dict1,dict2)
print(dict2 is dict1)
print(id(dict2),id(dict1))
dict2['1']='xyz'
print(dict1,dict2)
print(dict2 is dict1)
print(id(dict2),id(dict1))

{'1': 'abc', '2': 'cde'} {'1': 'abc', '2': 'cde'}
False
1937562669344 1937562669488
{'1': 'abc', '2': 'cde'} {'1': 'xyz', '2': 'cde'}
False
1937562669344 1937562669488

In [22]:
dict1={'1':'abc','2':'cde'}
dict2=dict1
print(dict1,dict2)
print(dict2 is dict1)
print(id(dict2),id(dict1))
dict2['1']='xyz'
print(dict1,dict2)
print(dict2 is dict1)
print(id(dict2),id(dict1))

{'1': 'abc', '2': 'cde'} {'1': 'abc', '2': 'cde'}
True
1937562669200 1937562669200
{'1': 'xyz', '2': 'cde'} {'1': 'xyz', '2': 'cde'}
True
1937562669200 1937562669200

In [23]:
dict1={'1':'abc','2':'cde'}
dict2=dict1
print(dict1,dict2)
print(dict2 is dict1)
print(id(dict2),id(dict1))
dict2['1']='xyz'
print(dict1,dict2)
print(dict2 is dict1)
print(id(dict2),id(dict1))

{'1': 'abc', '2': 'cde'} {'1': 'abc', '2': 'cde'}
True
1937562669560 1937562669560
{'1': 'xyz', '2': 'cde'} {'1': 'xyz', '2': 'cde'}
True
1937562669560 1937562669560

In [24]:
l1=[1,2,3]
t1=(1,2,3)
l1[1]=10
t1[1]=10

TypeError: 'tuple' object does not support item assignment

In [26]:
l2=[1,2,'hi']
t2=(1,2,'hi')
print(l2,t2)

[1, 2, 'hi'] (1, 2, 'hi')

In [30]:
k=1//float(2.2)
print(k)

0.0

In [35]:
a = 19
b = a
print(id(a),id(b))
print('b is :', b)
del a
print(id(b))
print(b)
a = 12
print(id(a),id(b))
print(a)
print(b)

140720748279184 140720748279184
b is : 19
140720748279184
19
140720748278960 140720748279184
12
19

In [55]:
print(list(range(1,10,2)))
#print(k)

[1, 3, 5, 7, 9]

In [1]:
s1='this is sparta'
s2=list(s1)
s2[5]='bye'
#s1=''.join(s2)
s1=s2
print(s1)

['t', 'h', 'i', 's', ' ', 'bye', 's', ' ', 's', 'p', 'a', 'r', 't', 'a']

In [23]:
s1='this is sparta'
s3=list(s1)#.sort()
print(s3)
s3.sort()
print(s3)
s4=''.join(s3)
print(s4)
print(type(s4))

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 'p', 'a', 'r', 't', 'a']
[' ', ' ', 'a', 'a', 'h', 'i', 'i', 'p', 'r', 's', 's', 's', 't', 't']
  aahiiprssstt
<class 'str'>

In [24]:
s1.count('a')

2

In [41]:
len(s1)

14

In [49]:
s1.index('a',1)

10

In [42]:
len(s3)

14

In [54]:
l=[]
l.append(6)
l.extend('7')
l

[6, '7']

In [56]:
l=[]
l.extend("9")
l

['9']

In [65]:
l=[9]
l.append([10,11])
l.extend([20,21])
l

[9, [10, 11], 20, 21]

In [66]:
l[1:3]

[[10, 11], 20]

In [67]:
l[1:3]=[4,5]

In [68]:
l

[9, 4, 5, 21]

In [70]:
l = ['i', 'n', 's', 'e', 'r', 't', 'A', 'd', 'd', 'd', 'e', 1, 2, 3]
l.remove('d')
print(l)

['i', 'n', 's', 'e', 'r', 't', 'A', 'd', 'd', 'e', 1, 2, 3]

In [72]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [74]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [79]:
x=1,2,3,4,5
x

(1, 2, 3, 4, 5)

In [80]:
c,y,z,a,b=x
print(a,b,c,y,z)

4 5 1 2 3

In [82]:
set1={1,2,3,4,4,5,5,'hi','bye'}
set1

{1, 2, 3, 4, 5, 'bye', 'hi'}

In [83]:
li=[1,2,3,4,54,5]
dic={'val1':'1','val2':'2','val3':'3','val4':'4','val5':'54','val6':'5'}
tup=(1,2,3,4,54,5)
print(li[4],dic['val5'],tup[4])

In [ ]:
if i==j:
   asjdbajksdd
   asdsd
sdasfd
    asdsd
    if k==l:
    sfsadfs
    sdsad

In [91]:
x=1
y=(2,5)
if False or (True and (True and False)):
    print(" If statement is True")
elif x==1 or print('hi'):
    print(" elif statement is True")
else:
    print('Both if and elif is False')
    
print(y)

 elif statement is True
(2, 5)

In [ ]:
for()--line change
	for()--print(*)

for(i=n i<1 i--)
	print(i)
	for (j)

In [12]:
for i in range(5):
    for j in range(i):
        print(j)
        print('*')

0
0
1
0
1
2
0
1
2
3

In [48]:
for i in range(6):
    #for k in range(0,6-i):
    print(' '*(6-i),end='')
    #for j in range(0,i+1):
    print('* '*(i+1),end='')
    #print("\n")
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

In [49]:
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

0 -3
1 -2
2 -1
3 0
4 1
5 2

In [51]:
li=['i',1,2,3,4,5]

for idx,y in enumerate(li):
    print(idx,y)

0 i
1 1
2 2
3 3
4 4
5 5

In [52]:
li.index(1)

1

In [53]:
for z in enumerate(li):
    print(z)

(0, 'i')
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)

In [56]:
x=[i**2 for i in range(5)]
x

[0, 1, 4, 9, 16]

In [63]:
x=[ i  for i in range(5) if(i>2) else 0 ]
x

SyntaxError: invalid syntax (<ipython-input-63-d7dc4718b73d>, line 1)

In [80]:
a='ABCDCDCCDCDCDCDCDCDCDC'
a.count('CDC')

5

In [87]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1, L=[]))
print(f(2))
print(f(3))
#print(L)

[1]
[2]
[2, 3]

In [93]:
li=tuple(range(-3,4))
st='abcnddsd'
for i in map(lambda x: x*2, st):
    print(i)

aa
bb
cc
nn
dd
dd
ss
dd

In [94]:
class parent:
    def __init__(self):
        self.a=2
        self.b=4
    def form1(self):        
        print(self.a-self.b)

class child(parent):
    def __init__(self):
        self.a=50
        self.b=4
    def form1(self):
        print(self.a+self.b)
    def callparentform1(self):
        super().form1()

class child1(child):
    def __init__(self):
        self.a=3
        self.b=4
    def form1(self):
        print(self.a*self.b)
    def callchildform1(self):
        super().form1()

class child2(parent):
    def __init__(self):
        self.a=10
        self.b=4
    def form1(self):
        print(self.a/self.b)
    def callparentform1(self):
        super().form1()
        
c=child1()
c.form1()
c.callchildform1()
print("ch")
ch=child()
ch.form1()
ch.callparentform1()
print("c2")
c2=child2()
c2.form1()
c2.callparentform1()

12
7
ch
54
46
c2
2.5
6

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('workbook_list_match.xlsx')

In [4]:
df.head()

   Cluster_Nbr                                Item_Name  Match_Score
0            1  2013-11 All States LG membership graphs          100
1            1  2013-11 All States SG membership graphs           97
2            1                               Membership           90
3            1                        Dec LG membership           86
4            1                        Dec SG membership           86

In [7]:
type(df)

pandas.core.frame.DataFrame

In [9]:
type(df['Item_Name'])

pandas.core.series.Series

In [11]:
type(df['Item_Name'][0])

str

In [12]:
type(df['Match_Score'][0])

numpy.int64

In [14]:
type(df['Cluster_Nbr'][0])

numpy.int64

In [15]:
df.describe()

       Cluster_Nbr  Match_Score
count   148.000000   148.000000
mean     41.027027    95.081081
std      28.678833     7.018453
min       1.000000    75.000000
25%      15.750000    86.000000
50%      38.500000   100.000000
75%      64.000000   100.000000
max      94.000000   100.000000

In [19]:
df.shape

(148, 3)

In [24]:
df1=df[df['Cluster_Nbr']==1]

In [39]:
df1.rename(columns={'Cluster_Nbr':'Col1','Item_Name':'Name','Match_Score':'Score'},inplace=True)

In [47]:
type(df1['Col1'][0])

numpy.int64

In [52]:
df3=pd.merge(df,df1,left_on='Cluster_Nbr',right_on='Col1',how='inner')

In [53]:
df3

,Cluster_Nbr,Item_Name,Match_Score,Col1,Name,Score
0,1,2013-11 All States LG membership graphs,100,1.0,2013-11 All States LG membership graphs,100.0
1,1,2013-11 All States LG membership graphs,100,1.0,2013-11 All States SG membership graphs,97.0
2,1,2013-11 All States LG membership graphs,100,1.0,Membership,90.0
3,1,2013-11 All States LG membership graphs,100,1.0,Dec LG membership,86.0
4,1,2013-11 All States LG membership graphs,100,1.0,Dec SG membership,86.0
5,1,2013-11 All States LG membership graphs,100,1.0,Dec medicare membership,86.0
6,1,2013-11 All States LG membership graphs,100,1.0,Feb LG membership,86.0
7,1,2013-11 All States LG membership graphs,100,1.0,Jan LG membership,86.0
8,1,2013-11 All States LG membership graphs,100,1.0,Jan SG membership,86.0
9,1,2013-11 All States LG membership graphs,100,1.0,Membership Reporting,86.0
10,1,2013-11 All States LG membership graphs,100,1.0,Nov LG membership,86.0
11,1,2013-11 All States LG membership graphs,100,1.0,medicare membership,86.0
12,1,2013-11 All States SG membership graphs,97,1.0,2013-11 All States LG membership graphs,100.0
13,1,2013-11 All States SG membership graphs,97,1.0,2013-11 All States SG membership graphs,97.0
14,1,2013-11 All States SG membership graphs,97,1.0,Membership,90.0
15,1,2013-11 All States SG membership graphs,97,1.0,Dec LG membership,86.0
16,1,2013-11 All States SG membership graphs,97,1.0,Dec SG membership,86.0
17,1,2013-11 All States SG membership graphs,97,1.0,Dec medicare membership,86.0
18,1,2013-11 All States SG membership graphs,97,1.0,Feb LG membership,86.0
19,1,2013-11 All States SG membership graphs,97,1.0,Jan LG membership,86.0
20,1,2013-11 All States SG membership graphs,97,1.0,Jan SG membership,86.0
21,1,2013-11 All States SG membership graphs,97,1.0,Membership Reporting,86.0
22,1,2013-11 All States SG membership graphs,97,1.0,Nov LG membership,86.0
23,1,2013-11 All States SG membership graphs,97,1.0,medicare membership,86.0
24,1,Membership,90,1.0,2013-11 All States LG membership graphs,100.0
25,1,Membership,90,1.0,2013-11 All States SG membership graphs,97.0
26,1,Membership,90,1.0,Membership,90.0
27,1,Membership,90,1.0,Dec LG membership,86.0
28,1,Membership,90,1.0,Dec SG membership,86.0
29,1,Membership,90,1.0,Dec medicare membership,86.0
...,...,...,...,...,...,...
250,70,PROVIDER_APPEAL_SCORECARD,100,NaN,NaN,NaN
251,71,PSC Completed Coaching,100,NaN,NaN,NaN
252,72,Provider Call Center data,100,NaN,NaN,NaN
253,73,Provider Referral Patterns,100,NaN,NaN,NaN
254,74,Provider Survey Report,100,NaN,NaN,NaN
255,75,Provider_and_Group_Pends,100,NaN,NaN,NaN
256,76,Quote Activity,100,NaN,NaN,NaN
257,77,Rolling_Parameter,100,NaN,NaN,NaN
258,78,Sales Interactions-LiveWire,100,NaN,NaN,NaN
259,79,Signpost_lol,100,NaN,NaN,NaN
260,79,signpost ELC,75,NaN,NaN,NaN
261,80,Signposting,100,NaN,NaN,NaN
262,81,Space calculation for APPDEV refresh,100,NaN,NaN,NaN
263,82,Tardiness Dashboard,100,NaN,NaN,NaN
264,83,Teradata Roles Owned,100,NaN,NaN,NaN
265,84,TestOracle,100,NaN,NaN,NaN
266,85,Trend Performance Dashboar,100,NaN,NaN,NaN
267,85,Trend Performance Dashboard,98,NaN,NaN,NaN
268,86,Tweet,100,NaN,NaN,NaN
269,86,Tweets,91,NaN,NaN,NaN
270,87,UM Dashboard 05202012,100,NaN,NaN,NaN
271,88,UMD 05152012,100,NaN,NaN,NaN
272,89,UMass_PPV_2016November,100,NaN,NaN,NaN
273,90,Weekly - Overturned Appeals-MAC-MARC,100,NaN,NaN,NaN
274,91,mem test 06282013,100,NaN,NaN,NaN
275,92,monthly data Dashes 06102012,100,NaN,NaN,NaN
276,93,rolling 06112012,100,NaN,NaN,NaN
277,93,rolling versus nonrolling Dashes 06102012,86,NaN,NaN,NaN
278,94,view_test,100,NaN,NaN,NaN
279,94,view_test_deny,90,NaN,NaN,NaN

In [54]:
df4=pd.merge(df,df1)

TypeError: merge() got an unexpected keyword argument 'axis'

In [49]:
type(df3['Cluster_Nbr'][0])

numpy.int64

In [51]:
df3['Cluster_Nbr']

<bound method Series.isnull of 0      1
1      1
2      1
3      1
4      1
5      1
6      1
7      1
8      1
9      1
10     1
11     1
12     1
13     1
14     1
15     1
16     1
17     1
18     1
19     1
20     1
21     1
22     1
23     1
24     1
25     1
26     1
27     1
28     1
29     1
      ..
114    1
115    1
116    1
117    1
118    1
119    1
120    1
121    1
122    1
123    1
124    1
125    1
126    1
127    1
128    1
129    1
130    1
131    1
132    1
133    1
134    1
135    1
136    1
137    1
138    1
139    1
140    1
141    1
142    1
143    1
Name: Cluster_Nbr, Length: 144, dtype: int64>

In [60]:
df1

    Col1                                     Name  Score
0      1  2013-11 All States LG membership graphs    100
1      1  2013-11 All States SG membership graphs     97
2      1                               Membership     90
3      1                        Dec LG membership     86
4      1                        Dec SG membership     86
5      1                  Dec medicare membership     86
6      1                        Feb LG membership     86
7      1                        Jan LG membership     86
8      1                        Jan SG membership     86
9      1                     Membership Reporting     86
10     1                        Nov LG membership     86
11     1                      medicare membership     86

In [55]:
import seaborn as sns

In [61]:
sns.heatmap(df1)

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [2]:
import pandas as pd
df=pd.read_excel(r'C:\Users\175733\Documents\workbook_list_match.xlsx')

In [4]:
print(df)

     Cluster_Nbr                                      Item_Name  Match_Score
0              1        2013-11 All States LG membership graphs          100
1              1        2013-11 All States SG membership graphs           97
2              1                                     Membership           90
3              1                              Dec LG membership           86
4              1                              Dec SG membership           86
5              1                        Dec medicare membership           86
6              1                              Feb LG membership           86
7              1                              Jan LG membership           86
8              1                              Jan SG membership           86
9              1                           Membership Reporting           86
10             1                              Nov LG membership           86
11             1                            medicare membership           86
12             2                                     A&G Alerts          100
13             2                        A&G Open/Closed Summary           86
14             2                         Commercial A&G Summary           86
15             2                     Monthly A&G - CORE A&G NEW           86
16             3                                 AS ACD Metrics          100
17             4                        ASC Account Assignments          100
18             5                                      AUX Usage          100
19             6                               Ad Hoc ACD Stats          100
20             6  MS Call Center Stats for Clarabridge Analysis           86
21             7                                      Agent 360          100
22             8                                 Annual Package          100
23             9                       Awaiting Coaching report          100
24             9      Overturned Member Appeals - Weekly Report           86
25             9                                 quality report           86
26            10                          BEST Survey Reporting          100
27            10                BEST Survey Reporting (general)           95
28            10                            MS Survey Reporting           90
29            10                  MS Survey Reporting (general)           82
..           ...                                            ...          ...
118           70                      PROVIDER_APPEAL_SCORECARD          100
119           71                         PSC Completed Coaching          100
120           72                      Provider Call Center data          100
121           73                     Provider Referral Patterns          100
122           74                         Provider Survey Report          100
123           75                       Provider_and_Group_Pends          100
124           76                                 Quote Activity          100
125           77                              Rolling_Parameter          100
126           78                    Sales Interactions-LiveWire          100
127           79                                   Signpost_lol          100
128           79                                   signpost ELC           75
129           80                                    Signposting          100
130           81           Space calculation for APPDEV refresh          100
131           82                            Tardiness Dashboard          100
132           83                           Teradata Roles Owned          100
133           84                                     TestOracle          100
134           85                     Trend Performance Dashboar          100
135           85                    Trend Performance Dashboard           98
136           86                                          Tweet          100
137           86                                         Tweets           91
138           87                          UM Dashboard 05202012          100
139           88                                  UMD 05152012           100
140           89                         UMass_PPV_2016November          100
141           90           Weekly - Overturned Appeals-MAC-MARC          100
142           91                              mem test 06282013          100
143           92                   monthly data Dashes 06102012          100
144           93                               rolling 06112012          100
145           93      rolling versus nonrolling Dashes 06102012           86
146           94                                      view_test          100
147           94                                 view_test_deny           90

[148 rows x 3 columns]